body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslategray;
}

.app {
  text-align: center;
  padding: 1.25rem; /* 20px */
}

h1 {
  color: white;
}

h2 {
  color: lightgray;
  font-size: 0.75em;
  padding: -0.5rem -0.5rem; /* -8px -8px */
  margin-top: -1.5rem; /* -8px */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem; /* 10px */
  margin-left: -2.5rem; /* -40px */
  color: white;
  border-bottom: 0.0625rem solid #ddd; /* 1px */
  border-radius: 3.5%;
  cursor: pointer;
}

li:hover {
  background-color: #f9f9f9;
  color: black;
}
